<%= stylesheet_link_tag "dashboard.css" %>
<%= stylesheet_link_tag "health_centres.css", "map_menu.css" %>
<%= javascript_include_tag "map_menu.js" %>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

<div class="container">
  <div id="main" class="card-div active">
    <div class="card-header">
      <h1>Caracterização dos Dados e Filtros Aplicados</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup popup" title="Mais informações" onclick="open_info('main_popup')">
            <span class="popuptext" id="main_popup">Esta aba informa qual é a base de dados utilizada, além de possuir informações 
                                                    sobre os dados selecionados anteriormente pela página de Busca Avançada</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('main')"></i>
      </div>
    </div>
    <div class="card-body">
      <p class="title">Base de Dados</p>
      <p style="color: #6b6b6b;">
        <span class="bold">Fonte:</span> <span id="fonte-base">Sistema de Internações Hospitalares SUS - SMS/SP</span><br>
        <span class="bold">Total de registros:</span> <span id="total-base">554.202</span><br>
        <span class="bold">Território/Unidade de análise:</span> <span id="territorio-base">Municipio de São Paulo</span>
      </p>
      <br>
      <p class="title">Dados Selecionados (com base nos filtros)</p>
      <div id="filters-text" style="color: #6b6b6b;">
        <p><span class="bold">Período:</span> <span id="data-filtro"></span><br></p>
        <p><span class="bold">Total de registros:</span> <span id="total-filtro"></span><br></p>
        <p><span class="bold">Território/Unidade de análise:</span> <span id="territorio-filtro"></span><br></p>
        <p><span class="bold">Sexo:</span> <span id="sexo-filtro"></span><br></p>
        <p><span class="bold">Idade:</span> <span id="idade-filtro"></span><br></p>
        <p><span class="bold">Caráter do atendimento:</span> <span id="carater-filtro"></span></p>
      </div>
    </div>
  </div>
  <div id="rankings" class="card-div">
    <div class="card-header">
      <h1>Rankings</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('rank_popup')">
            <span class="popuptext" id="rank_popup">Essa aba apresenta um Ranking em ordem decrescente com o número  
                                                    de internações por hospital (ou por DA, faixa etária, sexo ou diagnóstico principal)</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('rankings')"></i>
      </div>
    </div>
    <div class="card-body ranking">
      <select id="select-variable" onchange="update_rank()">
          <option value="health_centre">Hospital</option>
          <option value="DA">Distrito Administrativo</option>
          <option value="age">Faixa Etária</option>
          <option value="gender">Sexo</option>
          <option value="CID">Diagnóstico Principal (CID 10)</option>
      </select>
      <table class='health_centres_rank table table-sm table-inverse'></table>
    </div>
  </div>
  <div id="historic" class="card-div">
    <div class="card-header">
      <h1>Série Histórica</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('historic_popup')">
            <span class="popuptext" id="historic_popup">A Série Histórica apresenta o número de internações por mês no período 
                                                    vigente da base de dados utilizada</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('historic')"></i>
      </div>
    </div>
    <div class="card-body">
      <div id="procedure_by_date" style="width: 1500px; height: 400px"></div>
    </div>
  </div>
  <div id="specialities" class="card-div">
    <div class="card-header">
      <h1>Especialidades</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('specialities_popup')">
            <span class="popuptext" id="specialities_popup">Esta aba apresenta informações específicas sobre as Especialidades
                                                    das internações</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('specialities')"></i>
      </div>
    </div>
    <div class="card-body">
      <div style="display: flex; justify-content: space-between;" class="row">
        <div class="col" id="chart_specialties" style="width: 1100px; height: 500px;"></div>
        <div class="col" id="chart_spec_total"  style="width: 1000px; height: 500px;"></div>
      </div>
    </div>
  </div>
  <div id="healthcentres" class="card-div">
    <div class="card-header">
      <h1>Estabelecimentos</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('healthcentres_popup')">
            <span class="popuptext" id="healthcentres_popup">Esta aba apresenta informações específicas sobre os Estabelecimentos
                                                           das internações</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('healthcentres')"></i>
      </div>
    </div>
    <div class="card-body">
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_bed_specialty" style="width: 1100px; height: 500px;"></div>
        <div class="col" id="chart_management"  style="width: 700px; height: 500px;"></div>
      </div>
    </div>
  </div>
  <div id="hospitalizations" class="card-div">
    <div class="card-header">
      <h1>Internações / Pacientes</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('hospitalizations_popup')">
            <span class="popuptext" id="hospitalizations_popup">Esta aba apresenta informações específicas sobre as Internações 
                                                              e os Pacientes das internações</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('hospitalizations')"></i>
      </div>
    </div>
    <div class="card-body overflow">
      <div class="row" style="text-align: center;">
        <h2>Internações</h2>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div id="chart_character" style="width: 1000px; height: 500px;"></div>
        <div id="chart_days_total"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div class="row" style="text-align: center;">
        <h2>Pacientes</h2>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div id="chart_gender" style="width: 800px; height: 500px;"></div>
        <div id="chart_age"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div id="chart_race" style="width: 1000px; height: 500px;"></div>
      </div>
    </div>
  </div>
  <div id="territories" class="card-div">
    <div class="card-header">
      <h1>Territórios e Regiões Administrativas</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('territories_popup')">
            <span class="popuptext" id="territories_popup">Esta aba apresenta informações específicas sobre os Territórios 
                                                          e as Regiões Administrativas das internações</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('territories')"></i>
      </div>
    </div>
    <div class="card-body overflow">
      <div style="display: flex; justify-content: space-between;">
        <div id="chart_STS" style="width: 800px; height: 500px;"></div>
        <div id="chart_CRS"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div id="chart_DA" style="width: 800px; height: 500px;"></div>
      </div>
    </div>
  </div>
  <div id="distance" class="card-div">
    <div class="card-header">
      <h1>Distâncias e Deslocamento</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('distance_popup')">
            <span class="popuptext" id="distance_popup">Esta aba apresenta informações específicas sobre as Distâncias
                                                      percorrida pelos pacientes para serem internados</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('distance')"></i>
      </div>
    </div>
    <div class="card-body overflow">
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_div_analise" style="width: 800px; height: 500px;"></div>
        <div class="col" id="chart_spec_distance_average"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div class="row" style="text-align: center;">
          <h2>Distância Média Percorrida por Pacientes (em Km)</h2>
      </div>
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_cirurgia" style="width: 800px; height: 500px;"></div>
        <div class="col" id="chart_obstetrecia"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_pacientes" style="width: 800px; height: 500px;"></div>
        <div class="col" id="chart_psiquiatria"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_pediatria" style="width: 800px; height: 500px;"></div>
        <div class="col" id="chart_reabilitacao"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_clinica_medica" style="width: 800px; height: 500px;"></div>
        <div class="col" id="chart_psiquiatria_dia"  style="width: 1000px; height: 400px;"></div>
      </div>
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col" id="chart_tisiologia" style="width: 800px; height: 500px;"></div>
        <div class="col" id=""  style="width: 1000px; height: 400px;"></div>
      </div>
    </div>
  </div>
  <div id="dynamic-charts" class="card-div">
    <div class="card-header">
      <h1>Gráfico Dinâmico (selecione a variável)</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('dynamic_popup')">
            <span class="popuptext" id="dynamic_popup">Esta aba possibilita a visualização de informações específicas 
                                                      sobre o Número de Internações de acordo com a Variável Escolhida</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('dynamic-charts')"></i>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
      <select id="select-chart" onchange="changeChart()">
        <% @select_text.each.with_index do |key, index| %>
          <option value="<%= @select_values[index] %>"><%= key %></option>
        <% end %>
      </select>
      <div id="bar-graph" style="width: 100%;height:90vh;"></div>
      </div>
    </div>
  </div>
  <div id="statistic" class="card-div">
    <div class="card-header">
      <h1>Estatística Descritiva</h1>
      <div class="buttons-div">
        <i class="config-buttons fas fa-download" title="Download"></i>
        <i class="config-buttons fas fa-print" title="Imprimir"></i>
        <i class="config-buttons fas fa-info-circle popup" title="Mais informações" onclick="open_info('statistic_popup')">
            <span class="popuptext" id="statistic_popup">Esta aba apresenta informações estatísticas sobre algumas das Variáveis,
                                                        tais como: Idade, Diárias, Diárias UI, Diárias UTI, Valor Total e Dias de Permanencia</span></i>
        <i class="config-buttons fas fa-thumbtack" title="Fixar"></i>
        <i class="main-button far fa-times-circle" onclick="on_click('statistic')"></i>
      </div>
    </div>
    <div class="card-body overflow">
        <table class='statistic_table'></table>
    </div>
  </div>

</div>

<script>
  $(document).ready(init_dashboard_sections);
  $(document).ready(init_specialties_chart);
</script>
