<!-- <script src="https://maps.googleapis.com/maps/api/js"> </script> -->
<!-- <div class="alert alert-warning">
  <strong>Atenção!</strong> Página não atualizada, dados podem estar errados.
</div> -->
<div class="row">
  <div class = "col-md-8 col-sm-8 affix" id = "map-filter">
    <div class = "map-wrapper" id='specialty-map-filter'> </div>
    <div id="legend"><h3>Distância</h3></div>
  </div>

  <div class="col-sm-8">
    <h1> </h1>
  </div>

  <div class="col-md-4 col-sm-4">
    <div class="col-sm-12">
      <label for="select_order"><b>Ordenação dos estabelecimentos: </b></label>
    </div>
    <div class="col-sm-12" id="viewType">
      <form id="myForm">
        <div class="radio">
          <label><input type="radio" name="optRadio" value="0" checked="checked"> Especialidade</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optRadio" value="1"> Modalidade de atendimento</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optRadio" value="2"> Prefeitura Regional</label>
        </div>
      </form>
    </div>
  </div>

  <div class="col-sm-8">
    <h1> </h1>
  </div>

  <div class='col-md-4 col-sm-4'>
    <div class="panel-group" id="accordion">
    <% for specialty in @Specialties %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= specialty.id %>">
            <%= specialty.name %></a>
          </h4>
        </div>
        <div id="<%= specialty.id %>" class="panel-collapse collapse">
          <ul class="list-group">
            <% for health_centre_specialty in  @HealthCentreSpecialty %>
              <% if health_centre_specialty.specialty_id == specialty.id %>
                <li class="list-group-item"   onclick='filter_by( <%= health_centre_specialty.health_centre_id %> , <%= specialty.id %>, "specialty")'><%= health_centre_specialty.health_centre.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
  <div class='col-md-8 col-sm-8 affix' style='margin-top: 500px'>
  </div>


<script>
  $(document).ready(initialize_health_centre_filter)
  $(document).ready(change_list)
</script>

