<%= stylesheet_link_tag "about2.css" %>

<div class="main-div">
  <div class="fixed">
  <div class="texto-div">
    <h2 class="titulo">Health Dashboard</h2>
    <div class="text-section">
      <div class="right-text-section">
          <%= image_tag("handshake.svg", :class => "image-section") %> 
        <p>O Projeto Health Dashboard é uma colaboração entre o <a href="http://interscity.org/">Projeto InterSCity</a> sediado no IME-USP e a <a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/saude/">Secretaria Municipal da Saúde de São Paulo</a>.</p>
      </div>
      <div class="left-text-section">
        <%= image_tag("browser.svg", :class => "image-section") %> 
        <p>O objetivo do projeto é utilizar técnicas avançadas de Ciência da Computação (Big Data, Visualização e Ciência de Dados) para fornecer ferramentas inovadoras para profissionais de saúde e gestores em saúde pública.</p>
      </div>
      <div class="right-text-section">
        <%= image_tag("laptop.svg", :class => "image-section") %> 
        <p>O projeto está aberto a colaborações de todos os interessados que possam contribuir para a melhoria das ferramentas desenvolvidas e tem como o objetivo produzir tanto software livre útil para a gestão de saúde quanto avanços científicos na área de Informática e Big Data em Saúde. </p>
      </div>
      <div class="left-text-section">
        <%= image_tag("money.svg", :class => "image-section") %> 
        <p> O InterSCity é financiado com recursos da FAPESP, CNPq e CAPES.</p>
      </div>
    </div>
  </div>
  </div>
    <div class="membros-div">
    <div class="membros-panel">
      <h2 class="membros-titulo">Nossa equipe:</h2>
    <div class="membros-list-div">
        <div class="membro-div">
          <%= image_tag("Cat.png", :class => "membro-div-img") %> 
          <a class="membro-div-name">Prof. Fabio Kon</a>
          <p>IME/USP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Rabbit.png", :class => "membro-div-img") %> 
          <a class="membro-div-name">Profª. Kelly Braghetto</a>
          <p>IME/USP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Cat.png", :class => "membro-div-img") %> 
          <a class="membro-div-name">Prof. Paulo Meirelles</a>
          <p>UNIFESP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Dog.png", :class => "membro-div-img") %>
          <a class="membro-div-name">Débora Ciriaco</a>
          <p>IME/USP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Cat.png", :class => "membro-div-img") %>
          <a class="membro-div-name" href="mailto:eduardo.goncalves.pinheiro@usp.com">Eduardo Pinheiro</a>
          <p>IME/USP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Rabbit.png", :class => "membro-div-img") %>
          <a class="membro-div-name">Camila Kodaira</a>
          <p>IME/USP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Cat.png", :class => "membro-div-img") %>
          <a class="membro-div-name">Yurick Honda</a>
          <p>IME/USP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Dog.png", :class => "membro-div-img") %>
          <a class="membro-div-name">Breno Aguiar</a>
          <p>SMS/SP</p>
        </div>
        <div class="membro-div">
          <%= image_tag("Rabbit.png", :class => "membro-div-img") %>
          <a class="membro-div-name">Marcelo Failla</a>
          <p>SMS/SP</p>
        </div>
      </div>
    </div>
  </div>
</div>
