<%= stylesheet_link_tag "home.css" %>

<div class="barra-inst">
</div>
<div class="container">
  <header class="header">
    <%= image_tag("sms.jpg", :class => "logo-img") %>
    <h1 class="title">Health Dashboard</h1>
  </header>
</div>

  <div class="intro">
    <div class="slider" id="slideshow">
      <i class="fas fa-2x fa-chevron-left slider-btn left" onclick="plusDivs(-1)"></i>
      <img src="https://picsum.photos/1200/250/?random" alt="Random Image" class="slider-img active" id="slider1">
      <img src="https://picsum.photos/1201/250/?random" alt="Random Image" class="slider-img left" id="slider2">
      <img src="https://picsum.photos/1200/251/?random" alt="Random Image" class="slider-img" id="slider3">
      <img src="https://picsum.photos/1201/251/?random" alt="Random Image" class="slider-img right" id="slider4">
      <i class="fas fa-2x fa-chevron-right slider-btn right" onclick="plusDivs(1)"></i>
    </div>
    <div class="data-row">
      <div class="data">
        <p class="data-num" id="procedure-data">0</p>
        <p class="data-label">Procedimentos</p>
      </div>
      <div class="data">
        <p class="data-num" id="hospital-data">0</p>
        <p class="data-label">Hospitais</p>
      </div>
      <div class="data">
        <p class="data-num" id="spec-data">0</p>
        <p class="data-label">Especialidades</p>
      </div>
      <div class="data">
        <p class="data-num" id="desloc-data">0 km</p>
        <p class="data-label">Média de Deslocamento</p>
      </div>
    </div>
  </div>

<div class="container">
    <h2 class="section"> SERVIÇOS </h2>

    <div class="grid">
      <a href="<%= dados_gerais_path %>">
        <div class="item">
          <img src="https://picsum.photos/501/301/?random" alt="Random Image" class="item-img">
          <h3 class="item-title">Dados Gerais</h3>
          <p class="item-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
      <a href="<%= busca_path %>">
        <div class="item">
          <img src="https://picsum.photos/500/300/?random" alt="Random Image" class="item-img">
          <h3 class="item-title">Busca Avançada</h3>
          <p class="item-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
      <a href="<%= estabelecimentos_path %>">
        <div class="item">
          <img src="https://picsum.photos/501/300/?random" alt="Random Image" class="item-img">
          <h3 class="item-title">Estabelecimentos</h3>
          <p class="item-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
      <a href="<%= about_path %>">
        <div class="item">
          <img src="https://picsum.photos/500/301/?random" alt="Random Image" class="item-img">
          <h3 class="item-title">Sobre nós</h3>
          <p class="item-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
    </div>

</div>
<footer class="rodape">
</footer>
