<%= stylesheet_link_tag "home.css" %>

<!--<body>
  <header class="header">
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4 text-left">
            <a href="http://www.capital.sp.gov.br/" class="lnk-masthead">
              <strong>PREFEITURA DE SÃO PAULO</strong>
            </a>
          </div>
          <div class="col-md-4 hidden-xs text-center">
            <a href="http://transparencia.prefeitura.sp.gov.br/acesso-a-informacao/Paginas/default.aspx" class="lnk-masthead">
              <strong>Acesso a Informação</strong>
              <img class="header-logo-acesso-informacao" src="http://www.prefeitura.sp.gov.br/cidade/img/capital_acesso-informacao.png" alt="Acesso a Informação">
            </a>
          </div>
          <div class="col-md-4 hidden-xs text-right">
            <a href="http://transparencia.prefeitura.sp.gov.br/Paginas/home.aspx" class="lnk-masthead">
              TRANSPARENCIA SÃO PAULO
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>-->
<div class="container">
  <div class="header">
    <div>
      <%= image_tag("sms.jpg", :class => "logo-img") %>
    </div>
    <h1 class="titulo">Health Dashboard</h1>
  </div>

  <div class="intro">
    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris hendrerit nisl nec pulvinar feugiat.
      Curabitur nec feugiat dolor.
      Aliquam nec augue non metus tempus bibendum id in turpis.
      Interdum et malesuada fames ac ante ipsum primis in faucibus.
      Fusce tristique lacus eu imperdiet ultrices.
      Vestibulum maximus ac felis non viverra.
      Aenean posuere ipsum vitae leo tristique, quis condimentum nunc volutpat.
      Morbi tristique fermentum aliquam.
      Duis lacinia elit quam, et lobortis mi gravid sit amet.
      Vestibulum feugiat lacinia dui.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Aenean ultrices erat in felis lacinia maximus.
      Sed sit amet lectus eu velit eleifend volutpat.
      Mauris ac dolor eu justo vulputate imperdiet suscipit sed massa.
      Quisque a ornare dui.
      Donec pulvinar felis elementum sodales ultrices.
      Nam ullamcorper fermentum ligula, placerat maximus diam consequat sed.
      Vestibulum condimentum erat eu sem tincidunt, eu cursus quam rutrum.
      Etiam rutrum tortor nisl, in dapibus est posuere at.
      Nam euismod massa non diam pellentesque consequat.
      Nullam tellus nunc, lobortis non sapien vitae, consectetur tincidunt ante.
      Etiam et erat sit amet arcu viverra imperdiet.
    </p>
    <div class="data">
      20
    </div>
  </div>

  <div class="servicos">
    <h2 class="title"> SERVIÇOS </h2>

    <div class="grid">
      <a href="<%= dados_gerais_path %>">
        <div class="item">
          <img src="https://picsum.photos/501/301/?random" alt="Random Image" class="grid-img">
          <h3 class="img-title">Dados Gerais</h3>
          <p class="img-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
      <a href="<%= busca_path %>">
        <div class="item">
          <img src="https://picsum.photos/500/300/?random" alt="Random Image" class="grid-img">
          <h3 class="img-title">Busca Avançada</h3>
          <p class="img-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
      <a href="<%= estabelecimentos_path %>">
        <div class="item">
          <img src="https://picsum.photos/501/300/?random" alt="Random Image" class="grid-img">
          <h3 class="img-title">Estabelecimentos</h3>
          <p class="img-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
      <a href="<%= about_path %>">
        <div class="item">
          <img src="https://picsum.photos/500/301/?random" alt="Random Image" class="grid-img">
          <h3 class="img-title">Sobre nós</h3>
          <p class="img-descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus viverra faucibus pretium.
            Quisque at nisl nulla.
            Etiam faucibus orci eget volutpat vulputate.
            Morbi dictum pulvinar iaculis.
            Nullam varius posuere tempus.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
<footer class="rodape">
</footer>
