<!DOCTYPE html>
<html>
  <head>
    <title>Health Dashboard</title>


    <%= javascript_include_tag "leaflet.js" %>
    <%= javascript_include_tag "leaflet-heat.js" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    <% unless current_page?(root_url) %>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <nav>
            <ul class="nav navbar-nav navbar-left">
              <li class='nav-item'> <%= link_to "Início", root_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'procedure' %>'> <%= link_to "Busca Avançada", busca_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'health_centres' %>'> <%= link_to "Estabelecimentos", estabelecimentos_path, class: 'nav-link', data: { turbolinks: false } %></li>
              <li class='nav-item <%= 'active' if controller_name == 'dashboard' %>'> <%= link_to "Dados Gerais", dados_gerais_path, class: 'nav-link' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class='nav-item'><a href='#' class='nav-link glyphicon glyphicon-question-sign' data-toggle="tab" onclick="about()"></a></li>
            </ul>
          </nav>
      </div>
    <% end %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
