<!DOCTYPE html>
<html>
  <head>
    <title>Health Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google MAPS API -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCwxSdPxeKR0IyS4C0A8E67DyYm-KQYpxs&callback=submit", defer: true %>
  </head>

  <body data-env="<%= ENV['TABLE_ID'] %>">
      <div class="navbar navbar-inverse navbar-fixed-top">
          <nav>
            <ul class="nav navbar-nav navbar-left">
              <li class='nav-item <%= 'active' if controller_name == 'health_centres'  %>  '> <%= link_to "Início", root_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'health_centre_filter'  %>' > <%= link_to "Estabelecimentos", health_centre_filter_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'dashboard'  %>'> <%= link_to "Métricas", dashboard_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'procedure'  %>'> <%= link_to "Busca Avançada", procedure_path, class: 'nav-link' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class='nav-item'><a href='#' class='nav-link glyphicon glyphicon-question-sign' data-toggle="tab" onclick="about()"></a></li>
            </ul>
          </nav>
      </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
